body {
    background-image: url("https://www.muralswallpaper.com/app/uploads/black-marble-textures-plain.jpg");
}
.nav-item:hover {
    background-color: white;
    color: black;
}
.nav-link {
    text-decoration: none;
    color: black;
}
.whole-container {
    border: 5px solid rgb(155, 17, 84);
}
h1 {
    color: rgb(155, 17, 84);
    font-family: "Pattaya", sans-serif;
}
.contact-link {
    color: black;
}
a:hover {
    text-decoration: none;
    color: rgb(155, 17, 84);
}
.nav-item > .nav-link.active {
    background-color: rgb(155, 17, 84);
}

.special-image {
    background-image: url("./images/profilepic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 200px;
    height: 200px;
    border-radius: 10px;
}
.link-image {
    height: 18rem;
    width: 18rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.link-image > span {
    color: rgba(255, 255, 255, 0);
}

.link-image:hover > span {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.5);
}
.image-text,
.image-header {
    display: flex;
    justify-content: center;
}
.card-header {
    display: flex;
    justify-content: center;
}

.image-header,
.front-text {
    color: rgb(155, 17, 84);
    font-family: "Francois One", sans-serif;
}
.text-muted {
    font-style: italic;
}

h3 {
    color: rgb(155, 17, 84);
}

/* .linkToSite {
    color: #212529;
} */

.baseCamp-atag,
.aboutMe-atag,
.linkToSite {
    text-decoration: none;
    color: rgb(155, 17, 84);
}

@media screen and (min-width: 600px) {
    .aboutMe,
    .baseCamp,
    .projectCard,
    .contactMe,
    .project {
        display: flex;
    }
}
