:root {
    --theme-color: #9b1154;
    --theme-text: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.left-container {
    background-color: var(--theme-color);
    border-right-color: darkgrey;
    border-right: 5px solid;
    color: white;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 20vw;
}

.right-container {
    margin-left: 20vw;
    padding: 3rem;
}

li {
    list-style-type: circle;
}

i {
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
}

.card {
    border: none;
}

p > a,
li > a {
    color: #212529;
}

p > a:hover,
li > a:hover {
    color: var(--theme-color);
}

a > i {
    color: white;
}

a > i:hover {
    color: var(--theme-color);
    background-color: white;
}

.link-class.nav-link.active {
    color: var(--theme-color);
    background-color: white;
    width: 98%;
}

.link-class.nav-link:hover {
    color: var(--theme-color);
    background-color: rosybrown;
    opacity: 0.5%;
    width: 98%;
}

.link-class.nav-link {
    color: white;
}

.sideBarText {
    color: white;
}

.email,
.contactLinks {
    color: white;
}

.contactLinks {
    display: block;
}

.contactLinks {
    color: white;
}
a.contactLinks {
    text-decoration: none;
    color: white;
}
.contactLinks:hover i {
    color: var(--theme-color);
    background-color: white;
}

.galleryCard {
    display: flex;
    justify-content: center;
}

.galleryImage {
    width: 390.667px;
    height: 198.017px;
}

.galleryCard:hover {
    box-shadow: 2px 2px 6px 2px var(--theme-color);
}

hr {
    border: 2px dashed var(--theme-color);
}

h1 {
    font-family: var(--theme-text);
    color: var(--theme-color);
    padding: 4px;
}

.profilepic {
    height: 332.8px;
    width: 230px;
    border-radius: 5%;
}

.icon-logo {
    height: 165px;
}

.container-all {
    display: flex;
    justify-content: center;
}

.about-container {
    display: flex;
}

.languages {
    display: flex;
    justify-content: space-between;
}

.htmlProject {
    display: flex;
}

.javaProject {
    display: flex;
}

.projectList {
    display: flex;
    justify-content: space-between;
}

.djangoProject,
.htmlProject,
.javaProject {
    display: flex;
    justify-content: space-between;
}

.image-size,
.galleryImage {
    width: 370px;
    height: 198px;
}

.displayText {
    color: var(--theme-color);
    font-family: var(--theme-text);
}

h1.displayText {
    text-align: center;
}

@media screen and (max-width: 500px) {
    body > .left-container {
        position: initial;
        height: auto;
        width: 100vw;
        direction: row;
        grid-gap: 1.5rem;
    }
    .project-gallery {
        display: block;
    }

    .left-container {
        width: 10rem;
    }

    .right-container {
        padding: 0rem;
        display: flex;
        justify-content: center;
    }

    .icon-logo {
        width: 100px;
    }

    .htmlProject {
        display: block;
    }

    .image-size {
        width: 200px;
    }

    .about-container {
        display: block;
    }
    .languages {
        display: block;
    }

    .djangoProject {
        display: block;
    }
    .javaProject {
        display: block;
    }

    .projectList {
        display: block;
    }

    .galleryImage {
        width: 200px;
    }

    .icon-logo {
        height: 120px;
    }
}
