body {
    background-image: url("https://www.muralswallpaper.com/app/uploads/black-marble-textures-plain.jpg");
}
.nav-item:hover {
    background-color: white;
    color: black;
}
.nav-link {
    text-decoration: none;
    color: black;
}
.whole-container {
    border: 5px solid rgb(155, 17, 84);
}
h1 {
    color: rgb(155, 17, 84);
}
.contact-link {
    color: black;
}
a:hover {
    text-decoration: none;
    color: rgb(155, 17, 84);
}
.nav-item > .nav-link.active {
    background-color: rgb(155, 17, 84);
}
