body {
    background-image: url("https://www.muralswallpaper.com/app/uploads/black-marble-textures-plain.jpg");
}
.nav-item:hover {
    background-color: white;
    color: black;
}
.nav-link {
    text-decoration: none;
    color: black;
}
.whole-container {
    border: 5px solid rgb(155, 17, 84);
}
h1 {
    color: rgb(155, 17, 84);
    font-family: "Pattaya", sans-serif;
}
.contact-link {
    color: black;
}
a:hover {
    text-decoration: none;
    color: rgb(155, 17, 84);
}
.nav-item > .nav-link.active {
    background-color: rgb(155, 17, 84);
}

.special-image {
    background-image: url("./images/profilepic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 200px;
    height: 200px;
    border-radius: 100px;
}
.link-image {
    height: 18rem;
    width: 18rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.link-image > span {
    color: rgba(255, 255, 255, 0);
}

.link-image:hover > span {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.5);
}
